body{
    background-color: #a4a4a4;
}

h1{
    text-align: center;
}

div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p{
    font-family: system-ui, sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 1em;
    background-color: gray;
    border-radius: 10em;
}

